@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&family=Viga&display=swap");
* {
  box-sizing: border-box; }

.body {
  font-family: 'Source Sans Pro', sans-serif; }
  .body a,
  .body a:hover {
    text-decoration: none;
    color: #fff; }
  .body ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .body .title {
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 16px;
    position: relative; }
    .body .title::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 3px;
      left: 0;
      bottom: 0;
      background: linear-gradient(90deg, #9be2a5, #94dfd0); }
    .body .title.title_center::after {
      left: 30%; }
  .body .subtitle {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: .5px; }
  .body .main_btn {
    display: inline-block;
    border-radius: 25px;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 24px;
    position: relative;
    z-index: 100;
    transition: 300ms;
    cursor: pointer; }
    .body .main_btn:hover {
      transform: translateY(4px); }
    .body .main_btn__dark {
      background: linear-gradient(90deg, #585858, #323435); }
    .body .main_btn__color {
      background: linear-gradient(90deg, #9be2a5, #94dfd0);
      color: #000;
      box-shadow: 0px 5px 12px 4px #9be2a575; }
      .body .main_btn__color:hover {
        color: #000;
        box-shadow: 0px 2px 10px 0px #9be2a575; }
  .body .messengers {
    position: relative;
    z-index: 100; }
    .body .messengers a + a {
      margin-left: 15px; }
    .body .messengers .circle {
      display: inline-flex;
      justify-content: center;
      background: linear-gradient(90deg, #9be2a5, #94dfd0);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      transition: .3s; }
      .body .messengers .circle img {
        width: 20px; }
      .body .messengers .circle:hover {
        transform: translateY(-3px);
        box-shadow: 0px 2px 10px 0px #9be2a575; }

section {
  padding-top: 100px;
  padding-bottom: 100px;
  overflow-x: hidden; }

@keyframes bounce {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

.section_intro {
  padding-top: 50px;
  background: url(../assets/intro.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 100vh;
  position: relative; }
  .section_intro::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 0;
    background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.639093) 63%, rgba(241, 241, 241, 0) 100%);
    z-index: 50; }
  .section_intro::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(90deg, #9be2a5, #94dfd0);
    opacity: 0;
    transition: .3s; }
  .section_intro .header .menu_button {
    position: relative;
    height: 28px;
    width: 30px;
    z-index: 100;
    cursor: pointer;
    animation: bounce 3s ease-in-out infinite; }
    .section_intro .header .menu_button .but_item {
      position: absolute;
      width: 100%;
      height: 3px;
      background: linear-gradient(90deg, #9be2a5, #94dfd0);
      transition: .3s; }
    .section_intro .header .menu_button .b_top {
      top: 4px; }
    .section_intro .header .menu_button .b_mid {
      top: 12px; }
    .section_intro .header .menu_button .b_bot {
      top: 20px; }
  .section_intro .menu {
    margin-top: 30%;
    position: absolute;
    z-index: 100; }
    .section_intro .menu .menu_item {
      transform: translateX(1000px);
      transition: .3s; }
    .section_intro .menu .menu_item1 {
      transition-duration: 100ms; }
    .section_intro .menu .menu_item2 {
      transition-duration: 300ms; }
    .section_intro .menu .menu_item3 {
      transition-duration: 500ms; }
    .section_intro .menu .menu_item4 {
      transition-duration: 700ms; }
    .section_intro .menu .menu_item5 {
      transition-duration: 900ms; }
    .section_intro .menu .menu_item6 {
      transition-duration: 1100ms; }
    .section_intro .menu .nav_link {
      display: inline-block;
      font-size: 60px;
      font-weight: 600;
      padding-left: 8px;
      width: 400px;
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      transition: .5s; }
      .section_intro .menu .nav_link:hover {
        color: #9be2a5;
        transform: translateX(-100px);
        border-bottom: 2px solid #9be2a5; }
  .section_intro .preview {
    margin-top: 40%; }
    .section_intro .preview .preview_title {
      font-family: 'Viga', sans-serif;
      color: #fff;
      font-size: 90px;
      transition: 900ms; }
    .section_intro .preview hr {
      margin-left: 8px;
      height: 3px;
      width: 30%;
      background: linear-gradient(90deg, #9be2a5, #94dfd0);
      margin-top: 14;
      margin-bottom: 38px;
      transition: 700ms; }
    .section_intro .preview .text_description {
      color: #fff;
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 0.8px;
      transition: 500ms; }
      .section_intro .preview .text_description .color_text {
        background: -webkit-linear-gradient(0deg, #9be2a5, #94dfd0);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700; }
  .section_intro.menu_open::after {
    opacity: .1; }
  .section_intro.menu_open .menu_button .b_top {
    transform: rotate(45deg);
    top: 12px; }
  .section_intro.menu_open .menu_button .b_mid {
    transform: rotate(-45deg); }
  .section_intro.menu_open .menu_button .b_bot {
    transform: rotate(45deg);
    top: 12px; }
  .section_intro.menu_open .menu_item {
    transform: translateX(0); }
  .section_intro.menu_open .preview_item {
    transform: translateX(1000px); }

.section_about {
  background: url(../assets/about.jpg) no-repeat 100% 65%;
  background-size: cover;
  color: #d4d4d4; }
  .section_about .title {
    color: #fff; }
  .section_about .list_advantages .num {
    background: -webkit-linear-gradient(0deg, #9be2a5, #94dfd0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 42px;
    font-weight: 600; }

.section_vacancies {
  position: relative;
  min-height: 700px;
  background: #000; }
  .section_vacancies .title {
    color: #fff; }
  .section_vacancies ._mass .vacancy_button {
    box-shadow: 0px 5px 12px 4px #d26d88; }
    .section_vacancies ._mass .vacancy_button:hover {
      box-shadow: 0px 2px 10px 0px #d26d88; }
  .section_vacancies ._model .vacancy_button {
    box-shadow: 0px 5px 12px 4px #25557c; }
    .section_vacancies ._model .vacancy_button:hover {
      box-shadow: 0px 2px 10px 0px #25557c; }
  .section_vacancies .vacancy_item {
    height: 430px;
    position: relative;
    overflow: hidden;
    transition: .3s; }
    .section_vacancies .vacancy_item img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .section_vacancies .vacancy_item .text_box {
      position: absolute;
      top: 0;
      height: 100%;
      width: 60%;
      left: 35px;
      z-index: 2;
      color: #fff;
      transition: 500ms; }
    .section_vacancies .vacancy_item .vacancy_button {
      position: absolute;
      bottom: 184px;
      transition: 500ms;
      width: 140px;
      text-align: center; }
    .section_vacancies .vacancy_item .vacancy_title {
      margin-top: 30px;
      font-size: 28px;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 560;
      transition-duration: 600ms; }
    .section_vacancies .vacancy_item .vacancy_subtitle {
      margin-top: 15px;
      font-size: 18px;
      font-weight: 600;
      transition-duration: 600ms; }
    .section_vacancies .vacancy_item .vacancy_description {
      position: absolute;
      top: 30px;
      transform: translateY(300px);
      opacity: 0;
      visibility: hidden;
      transition-duration: 600ms; }
    .section_vacancies .vacancy_item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.146096) 0%, rgba(0, 0, 0, 0.417805) 13%, rgba(0, 0, 0, 0.669905) 52%, black 100%);
      width: 100%;
      height: 100%;
      margin-left: 15px;
      margin-right: 15px;
      visibility: hidden;
      opacity: 0;
      transition: .5s; }
  .section_vacancies .card_active::before {
    visibility: visible;
    opacity: 1; }
  .section_vacancies .card_active .vacancy_title {
    transform: translateY(-300px);
    opacity: 0;
    visibility: hidden; }
  .section_vacancies .card_active .vacancy_subtitle {
    transform: translateY(-300px);
    opacity: 0;
    visibility: hidden; }
  .section_vacancies .card_active .vacancy_description {
    transform: translateY(0);
    opacity: 1;
    visibility: visible; }
    .section_vacancies .card_active .vacancy_description .list_title {
      background: -webkit-linear-gradient(0deg, #9be2a5, #94dfd0);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Ubuntu', sans-serif;
      font-size: 28px;
      font-weight: 500; }
    .section_vacancies .card_active .vacancy_description ul {
      list-style: circle;
      margin-top: 10px;
      margin-left: 20px; }
  .section_vacancies .card_active .vacancy_button {
    position: absolute;
    bottom: 20px; }

.section_contacts .contacts_title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #323435; }

.section_contacts .subtitle {
  color: #323435; }

.section_contacts a {
  font-size: 20px;
  color: #707070; }
  .section_contacts a:hover {
    color: #707070; }

.section_contacts .messengers .circle {
  width: 40px;
  height: 40px; }
  .section_contacts .messengers .circle img {
    width: 16px; }
