@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&family=Viga&display=swap');
// ---------------------------------------------------------- mixins
@mixin text_gradient {
    background: -webkit-linear-gradient(0deg, #9be2a5, #94dfd0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// ========================================================== / mixins
// ---------------------------------------------------------- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ========================================================== / variables
// ---------------------------------------------------------- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Source Sans Pro', sans-serif;
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .title {
        // @include text_gradient;
        display: inline-block;
        font-family: 'Ubuntu', sans-serif;
        font-size: 50px;
        font-weight: 500;
        padding-bottom: 16px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 40%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: linear-gradient(90deg, #9be2a5, #94dfd0);
        }
    }
    .main_btn {
        display: inline-block;
        border-radius: 25px;
        background: linear-gradient(90deg, #9be2a5, #94dfd0);
        color: #000;
        font-size: 18px;
        font-weight: 600;
        padding: 12px 24px;
        position: relative;
        z-index: 100;
        box-shadow: 0px 5px 12px 4px #9be2a575;
        transition: 300ms;
        &:hover {
            color: #000;
            transform: translateY(4px);
            box-shadow: 0px 2px 10px 0px #9be2a575;
        }
    }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
}

// ------------------------ section_intro
.section_intro {
    padding-top: 50px;
    background: url(../assets/intro.jpg) no-repeat 0 0;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 30%;
        left: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.639093137254902) 63%, rgba(241, 241, 241, 0) 100%);
        z-index: 50;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #9be2a5, #94dfd0);
        opacity: 0;
        transition: .3s;
    }
    .header {
        .messengers {
            position: relative;
            z-index: 100;
            a+a {
                margin-left: 15px;
            }
            .circle {
                display: inline-flex;
                justify-content: center;
                background: linear-gradient(90deg, #9be2a5, #94dfd0);
                border-radius: 50%;
                width: 50px;
                height: 50px;
                transition: .3s;
                img {
                    width: 20px;
                }
                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 2px 10px 0px #9be2a575;
                }
            }
        }
        .menu_button {
            position: relative;
            height: 28px;
            width: 30px;
            z-index: 100;
            cursor: pointer;
            .but_item {
                position: absolute;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, #9be2a5, #94dfd0);
                transition: .3s;
            }
            .b_top {
                top: 4px;
            }
            .b_mid {
                top: 12px;
            }
            .b_bot {
                top: 20px;
            }
        }
    }
    .menu {
        margin-top: 30%;
        position: absolute;
        z-index: 100;
        .menu_item {
            transform: translateX(1000px);
            transition: .3s;
        }
        .menu_item1 {
            transition-duration: 100ms;
        }
        .menu_item2 {
            transition-duration: 300ms;
        }
        .menu_item3 {
            transition-duration: 500ms;
        }
        .menu_item4 {
            transition-duration: 700ms;
        }
        .menu_item5 {
            transition-duration: 900ms;
        }
        .menu_item6 {
            transition-duration: 1100ms;
        }
        .nav_link {
            display: inline-block;
            font-size: 60px;
            font-weight: 600;
            padding-left: 8px;
            width: 400px;
            border-bottom: 2px solid rgba($color: #000000, $alpha: 0);
            transition: .5s;
            &:hover {
                color: #9be2a5;
                transform: translateX(-100px);
                border-bottom: 2px solid #9be2a5;
            }
        }
    }
    .preview {
        margin-top: 40%;
        .preview_title {
            font-family: 'Viga', sans-serif;
            color: #fff;
            font-size: 90px;
            transition: 900ms;
        }
        hr {
            margin-left: 8px;
            height: 3px;
            width: 30%;
            background: linear-gradient(90deg, #9be2a5, #94dfd0);
            margin-top: 14;
            margin-bottom: 38px;
            transition: 700ms;
        }
        .text_description {
            color: #fff;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 0.8px;
            transition: 500ms;
            .color_text {
                @include text_gradient();
                font-weight: 700;
            }
        }
    }
    &.menu_open {
        &::after {
            opacity: .1;
        }
        .menu_button {
            .b_top {
                transform: rotate(45deg);
                top: 12px;
            }
            .b_mid {
                transform: rotate(-45deg);
            }
            .b_bot {
                transform: rotate(45deg);
                top: 12px;
            }
        }
        .menu_item {
            transform: translateX(0);
        }
        .preview_item {
            transform: translateX(1000px);
        }
    }
}

// ======================== /section_intro
// ------------------------ section_about
.section_about {
    background: url(../assets/about.jpg) no-repeat 100% 65%;
    background-size: cover;
    // min-height: 100vh;
    color: #d4d4d4;
    .title {
        color: #fff;
    }
    .subtitle {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: .5px;
        // @include text_gradient;
    }
    .list_advantages {
        .num {
            @include text_gradient();
            font-size: 42px;
            font-weight: 600;
        }
    }
}

// ======================== /section_about
// ------------------------ section_vacancies
.section_vacancies {}

// ======================== /section_vacancies
// ------------------------ section_promo
.section_promo {}

// ======================== /section_promo
// ------------------------ section_contacts
.section_contacts {}

// ======================== /section_contacts
// ------------------------ section_anketa
.section_anketa {}

// ======================== /section_anketa
// ------------------------ section_faq
.section_faq {}

// ======================== /section_faq
// ------------------------ section_footer
.section_footer {}

// ======================== /section_footer