@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&family=Ubuntu:wght@400;500;700&family=Viga&display=swap');
// ---------------------------------------------------------- mixins
@mixin text_gradient {
    background: -webkit-linear-gradient(0deg, #9be2a5, #94dfd0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// ========================================================== / mixins
// ---------------------------------------------------------- variables
$screen_xs_max: 575px;
$screen_sm_max: 767px;
$screen_md_max: 991px;
$screen_lg_max: 1199px;
$screen_sm: 576px;
$screen_md: 768px;
$screen_lg: 992px;
$screen_xl: 1200px;
// ========================================================== / variables
// ---------------------------------------------------------- commons
* {
    box-sizing: border-box;
}

.body {
    font-family: 'Source Sans Pro', sans-serif;
    a,
    a:hover {
        text-decoration: none;
        color: #fff;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .title {
        // @include text_gradient;
        display: inline-block;
        font-family: 'Ubuntu', sans-serif;
        font-size: 50px;
        font-weight: 500;
        padding-bottom: 16px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            width: 40%;
            height: 3px;
            left: 0;
            bottom: 0;
            background: linear-gradient(90deg, #9be2a5, #94dfd0);
        }
        &.title_center {
            &::after {
                left: 30%;
            }
        }
    }
    .subtitle {
        color: #fff;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: .5px;
        // @include text_gradient;
    }
    .main_btn {
        display: inline-block;
        border-radius: 25px;
        font-size: 18px;
        font-weight: 600;
        padding: 12px 24px;
        position: relative;
        z-index: 100;
        transition: 300ms;
        cursor: pointer;
        &:hover {
            transform: translateY(4px);
        }
        &__dark {
            background: linear-gradient(90deg, #585858, #323435);
        }
        &__color {
            background: linear-gradient(90deg, #9be2a5, #94dfd0);
            color: #000;
            box-shadow: 0px 5px 12px 4px #9be2a575;
            &:hover {
                color: #000;
                box-shadow: 0px 2px 10px 0px #9be2a575;
            }
        }
    }
    .messengers {
        position: relative;
        z-index: 100;
        a+a {
            margin-left: 15px;
        }
        .circle {
            display: inline-flex;
            justify-content: center;
            background: linear-gradient(90deg, #9be2a5, #94dfd0);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            transition: .3s;
            img {
                width: 20px;
            }
            &:hover {
                transform: translateY(-3px);
                box-shadow: 0px 2px 10px 0px #9be2a575;
            }
        }
    }
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-x: hidden;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

// ------------------------ section_intro
.section_intro {
    padding-top: 50px;
    background: url(../assets/intro.jpg) no-repeat 0 0;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 30%;
        left: 0;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.639093137254902) 63%, rgba(241, 241, 241, 0) 100%);
        z-index: 50;
    }
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(90deg, #9be2a5, #94dfd0);
        opacity: 0;
        transition: .3s;
    }
    .header {
        // .messengers {
        //     position: relative;
        //     z-index: 100;
        //     a+a {
        //         margin-left: 15px;
        //     }
        //     .circle {
        //         display: inline-flex;
        //         justify-content: center;
        //         background: linear-gradient(90deg, #9be2a5, #94dfd0);
        //         border-radius: 50%;
        //         width: 50px;
        //         height: 50px;
        //         transition: .3s;
        //         img {
        //             width: 20px;
        //         }
        //         &:hover {
        //             transform: translateY(-3px);
        //             box-shadow: 0px 2px 10px 0px #9be2a575;
        //         }
        //     }
        // }
        .menu_button {
            position: relative;
            height: 28px;
            width: 30px;
            z-index: 100;
            cursor: pointer;
            animation: bounce 3s ease-in-out infinite;
            .but_item {
                position: absolute;
                width: 100%;
                height: 3px;
                background: linear-gradient(90deg, #9be2a5, #94dfd0);
                transition: .3s;
            }
            .b_top {
                top: 4px;
            }
            .b_mid {
                top: 12px;
            }
            .b_bot {
                top: 20px;
            }
        }
    }
    .menu {
        margin-top: 30%;
        position: absolute;
        z-index: 100;
        .menu_item {
            transform: translateX(1000px);
            transition: .3s;
        }
        .menu_item1 {
            transition-duration: 100ms;
        }
        .menu_item2 {
            transition-duration: 300ms;
        }
        .menu_item3 {
            transition-duration: 500ms;
        }
        .menu_item4 {
            transition-duration: 700ms;
        }
        .menu_item5 {
            transition-duration: 900ms;
        }
        .menu_item6 {
            transition-duration: 1100ms;
        }
        .nav_link {
            display: inline-block;
            font-size: 60px;
            font-weight: 600;
            padding-left: 8px;
            width: 400px;
            border-bottom: 2px solid rgba($color: #000000, $alpha: 0);
            transition: .5s;
            &:hover {
                color: #9be2a5;
                transform: translateX(-100px);
                border-bottom: 2px solid #9be2a5;
            }
        }
    }
    .preview {
        margin-top: 40%;
        .preview_title {
            font-family: 'Viga', sans-serif;
            color: #fff;
            font-size: 90px;
            transition: 900ms;
        }
        hr {
            margin-left: 8px;
            height: 3px;
            width: 30%;
            background: linear-gradient(90deg, #9be2a5, #94dfd0);
            margin-top: 14;
            margin-bottom: 38px;
            transition: 700ms;
        }
        .text_description {
            color: #fff;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 0.8px;
            transition: 500ms;
            .color_text {
                @include text_gradient();
                font-weight: 700;
            }
        }
    }
    &.menu_open {
        &::after {
            opacity: .1;
        }
        .menu_button {
            .b_top {
                transform: rotate(45deg);
                top: 12px;
            }
            .b_mid {
                transform: rotate(-45deg);
            }
            .b_bot {
                transform: rotate(45deg);
                top: 12px;
            }
        }
        .menu_item {
            transform: translateX(0);
        }
        .preview_item {
            transform: translateX(1000px);
        }
    }
}

// ======================== /section_intro
// ------------------------ section_about
.section_about {
    background: url(../assets/about.jpg) no-repeat 100% 65%;
    background-size: cover;
    // min-height: 100vh;
    color: #d4d4d4;
    .title {
        color: #fff;
    }
    .list_advantages {
        .num {
            @include text_gradient();
            font-size: 42px;
            font-weight: 600;
        }
    }
}

// ======================== /section_about
// ------------------------ section_vacancies
.section_vacancies {
    position: relative;
    min-height: 700px;
    background: #000;
    .title {
        color: #fff;
    }
    ._mass {
        .vacancy_button {
            box-shadow: 0px 5px 12px 4px #d26d88;
            &:hover {
                box-shadow: 0px 2px 10px 0px #d26d88;
            }
        }
    }
    ._model {
        .vacancy_button {
            box-shadow: 0px 5px 12px 4px #25557c;
            &:hover {
                box-shadow: 0px 2px 10px 0px #25557c;
            }
        }
    }
    .vacancy_item {
        height: 430px;
        position: relative;
        overflow: hidden;
        transition: .3s;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .text_box {
            position: absolute;
            top: 0;
            height: 100%;
            width: 60%;
            left: 35px;
            z-index: 2;
            color: #fff;
            transition: 500ms;
        }
        .vacancy_button {
            position: absolute;
            bottom: 184px;
            transition: 500ms;
            width: 140px;
            text-align: center;
        }
        .vacancy_title {
            margin-top: 30px;
            font-size: 28px;
            font-family: 'Ubuntu', sans-serif;
            font-weight: 560;
            transition-duration: 600ms;
        }
        .vacancy_subtitle {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 600;
            transition-duration: 600ms;
        }
        .vacancy_description {
            position: absolute;
            top: 30px;
            transform: translateY(300px);
            opacity: 0;
            visibility: hidden;
            transition-duration: 600ms;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.14609593837535018) 0%, rgba(0, 0, 0, 0.41780462184873945) 13%, rgba(0, 0, 0, 0.6699054621848739) 52%, rgba(0, 0, 0, 1) 100%);
            width: 100%;
            height: 100%;
            margin-left: 15px;
            margin-right: 15px;
            // transform: translateY(-500px);
            visibility: hidden;
            opacity: 0;
            transition: .5s;
        }
    }
    .card_active {
        &::before {
            // transform: translateY(0);
            visibility: visible;
            opacity: 1;
        }
        .vacancy_title {
            transform: translateY(-300px);
            opacity: 0;
            visibility: hidden;
        }
        .vacancy_subtitle {
            transform: translateY(-300px);
            opacity: 0;
            visibility: hidden;
        }
        .vacancy_description {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
            .list_title {
                @include text_gradient();
                font-family: 'Ubuntu', sans-serif;
                font-size: 28px;
                font-weight: 500;
            }
            ul {
                list-style: circle;
                margin-top: 10px;
                margin-left: 20px;
            }
        }
        .vacancy_button {
            position: absolute;
            bottom: 20px;
        }
    }
}

// ======================== /section_vacancies
// ------------------------ section_promo
.section_promo {}

// ======================== /section_promo
// ------------------------ section_contacts
.section_contacts {
    .contacts_title {
        font-family: 'Ubuntu', sans-serif;
        font-size: 24px;
        font-weight: 500;
        color: #323435;
    }
    .subtitle {
        color: #323435;
    }
    a {
        font-size: 20px;
        color: #707070;
        &:hover {
            color: #707070;
        }
    }
    .messengers .circle {
        width: 40px;
        height: 40px;
        img {
            width: 16px;
        }
    }
}

// ======================== /section_contacts
// ------------------------ section_anketa
.section_anketa {}

// ======================== /section_anketa
// ------------------------ section_faq
.section_faq {}

// ======================== /section_faq
// ------------------------ section_footer
.section_footer {}

// ======================== /section_footer